MoneyPlan.xcodeproj/xcuserdata/mikhailgrushin.xcuserdatad/xcschemes/MoneyPlan.xcscheme
MoneyPlan.xcodeproj/xcuserdata/mikhailgrushin.xcuserdatad/xcschemes/xcschememanagement.plist
MoneyPlan.xccheckout
Breakpoints.xcbkptlist
*.xcbkptlist
