MoneyPlan.xcodeproj/project.xcworkspace/xcuserdata/mikhailgrushin.xcuserdatad/UserInterfaceState.xcuserstate
MoneyPlan.xcodeproj/xcuserdata/mikhailgrushin.xcuserdatad/xcschemes/MoneyPlan.xcscheme
MoneyPlan.xcodeproj/xcuserdata/mikhailgrushin.xcuserdatad/xcschemes/xcschememanagement.plist
MoneyPlan.xccheckout
Breakpoints.xcbkptlist
