<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Names</key>
	<array>
		<string>Mikhail Pogosskiy</string>
		<string>Mikhail Grushin</string>
		<string>Nadezhda Shmakova</string>
	</array>
	<key>DebtsByName</key>
	<dict>
		<key>Mikhail Pogosskiy</key>
		<dict>
			<key>Mikhail Pogosskiy</key>
			<integer>0</integer>
			<key>Mikhail Grushin</key>
			<integer>0</integer>
			<key>Nadezhda Shmakova</key>
			<integer>0</integer>
		</dict>
		<key>Mikhail Grushin</key>
		<dict>
			<key>Mikhail Pogosskiy</key>
			<integer>600</integer>
			<key>Mikhail Grushin</key>
			<integer>0</integer>
			<key>Nadezhda Shmakova</key>
			<integer>550</integer>
		</dict>
		<key>Nadezhda Shmakova</key>
		<dict>
			<key>Mikhail Pogosskiy</key>
			<integer>1100</integer>
			<key>Mikhail Grushin</key>
			<integer>0</integer>
			<key>Nadezhda Shmakova</key>
			<integer>0</integer>
		</dict>
	</dict>
</dict>
</plist>
