<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Nadezhda Shmakova</key>
	<array>
		<dict>
			<key>Description</key>
			<string>Булка</string>
			<key>SelfExpense</key>
			<integer>500</integer>
			<key>Flags</key>
			<dict>
				<key>0</key>
				<true/>
				<key>1</key>
				<true/>
				<key>2</key>
				<true/>
				<key>3</key>
				<true/>
			</dict>
		</dict>
		<dict>
			<key>Description</key>
			<string>Молоко</string>
			<key>SelfExpense</key>
			<integer>320</integer>
			<key>Flags</key>
			<dict>
				<key>0</key>
				<true/>
				<key>1</key>
				<false/>
				<key>2</key>
				<true/>
				<key>3</key>
				<true/>
			</dict>
		</dict>
		<dict>
			<key>Description</key>
			<string>Печенье Юбилейное</string>
			<key>SelfExpense</key>
			<integer>1100</integer>
			<key>Flags</key>
			<dict>
				<key>0</key>
				<true/>
				<key>1</key>
				<true/>
				<key>2</key>
				<true/>
				<key>3</key>
				<true/>
			</dict>
		</dict>
		<dict>
			<key>Description</key>
			<string>Артишок</string>
			<key>SelfExpense</key>
			<integer>200</integer>
			<key>Flags</key>
			<dict>
				<key>0</key>
				<true/>
				<key>1</key>
				<true/>
				<key>2</key>
				<true/>
				<key>3</key>
				<true/>
			</dict>
		</dict>
	</array>
	<key>Mikhail Grushin</key>
	<array>
		<dict>
			<key>Description</key>
			<string>Сосиски</string>
			<key>SelfExpense</key>
			<integer>500</integer>
			<key>Flags</key>
			<dict>
				<key>0</key>
				<true/>
				<key>1</key>
				<true/>
				<key>2</key>
				<true/>
				<key>3</key>
				<true/>
			</dict>
		</dict>
		<dict>
			<key>Description</key>
			<string>Сметана</string>
			<key>SelfExpense</key>
			<integer>320</integer>
			<key>Flags</key>
			<dict>
				<key>0</key>
				<true/>
				<key>1</key>
				<true/>
				<key>2</key>
				<true/>
				<key>3</key>
				<true/>
			</dict>
		</dict>
		<dict>
			<key>Description</key>
			<string>Водка</string>
			<key>SelfExpense</key>
			<integer>1100</integer>
			<key>Flags</key>
			<dict>
				<key>0</key>
				<true/>
				<key>1</key>
				<true/>
				<key>2</key>
				<true/>
				<key>3</key>
				<true/>
			</dict>
		</dict>
		<dict>
			<key>Description</key>
			<string>Сыр</string>
			<key>SelfExpense</key>
			<integer>200</integer>
			<key>Flags</key>
			<dict>
				<key>0</key>
				<true/>
				<key>1</key>
				<true/>
				<key>2</key>
				<true/>
				<key>3</key>
				<true/>
			</dict>
		</dict>
	</array>
	<key>Andrey Oveshnikov</key>
	<array>
		<dict>
			<key>Description</key>
			<string>Чипсы</string>
			<key>SelfExpense</key>
			<integer>570</integer>
			<key>Flags</key>
			<dict>
				<key>0</key>
				<true/>
				<key>1</key>
				<true/>
				<key>2</key>
				<true/>
				<key>3</key>
				<true/>
			</dict>
		</dict>
		<dict>
			<key>Description</key>
			<string>Сухарики</string>
			<key>SelfExpense</key>
			<integer>320</integer>
			<key>Flags</key>
			<dict>
				<key>0</key>
				<true/>
				<key>1</key>
				<false/>
				<key>2</key>
				<true/>
				<key>3</key>
				<true/>
			</dict>
		</dict>
		<dict>
			<key>Description</key>
			<string>Газировка</string>
			<key>SelfExpense</key>
			<integer>1100</integer>
			<key>Flags</key>
			<dict>
				<key>0</key>
				<true/>
				<key>1</key>
				<true/>
				<key>2</key>
				<true/>
				<key>3</key>
				<true/>
			</dict>
		</dict>
	</array>
	<key>Mikhail Pogosskiy</key>
	<array>
		<dict>
			<key>Description</key>
			<string>Масло</string>
			<key>SelfExpense</key>
			<integer>220</integer>
			<key>Flags</key>
			<dict>
				<key>0</key>
				<true/>
				<key>1</key>
				<true/>
				<key>2</key>
				<true/>
				<key>3</key>
				<true/>
			</dict>
		</dict>
		<dict>
			<key>Description</key>
			<string>Самбука</string>
			<key>SelfExpense</key>
			<integer>1</integer>
			<key>Flags</key>
			<dict>
				<key>0</key>
				<false/>
				<key>1</key>
				<false/>
				<key>2</key>
				<true/>
				<key>3</key>
				<true/>
			</dict>
		</dict>
	</array>
</dict>
</plist>
