<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Nadezhda Shmakova</key>
	<array>
		<dict>
			<key>Summ</key>
			<integer>500</integer>
			<key>Flags</key>
			<dict>
				<key>0</key>
				<true/>
				<key>1</key>
				<true/>
				<key>2</key>
				<true/>
				<key>3</key>
				<true/>
			</dict>
		</dict>
		<dict>
			<key>Summ</key>
			<integer>320</integer>
			<key>Flags</key>
			<dict>
				<key>0</key>
				<true/>
				<key>1</key>
				<false/>
				<key>2</key>
				<true/>
				<key>3</key>
				<true/>
			</dict>
		</dict>
		<dict>
			<key>Summ</key>
			<integer>1100</integer>
			<key>Flags</key>
			<dict>
				<key>0</key>
				<true/>
				<key>1</key>
				<true/>
				<key>2</key>
				<true/>
				<key>3</key>
				<true/>
			</dict>
		</dict>
		<dict>
			<key>Summ</key>
			<integer>200</integer>
			<key>Flags</key>
			<dict>
				<key>0</key>
				<true/>
				<key>1</key>
				<true/>
				<key>2</key>
				<true/>
				<key>3</key>
				<true/>
			</dict>
		</dict>
	</array>
	<key>Mikhail Grushin</key>
	<array>
		<dict>
			<key>Summ</key>
			<integer>500</integer>
			<key>Flags</key>
			<dict>
				<key>0</key>
				<true/>
				<key>1</key>
				<true/>
				<key>2</key>
				<true/>
				<key>3</key>
				<true/>
			</dict>
		</dict>
		<dict>
			<key>Summ</key>
			<integer>320</integer>
			<key>Flags</key>
			<dict>
				<key>0</key>
				<true/>
				<key>1</key>
				<true/>
				<key>2</key>
				<true/>
				<key>3</key>
				<true/>
			</dict>
		</dict>
		<dict>
			<key>Summ</key>
			<integer>1100</integer>
			<key>Flags</key>
			<dict>
				<key>0</key>
				<true/>
				<key>1</key>
				<true/>
				<key>2</key>
				<true/>
				<key>3</key>
				<true/>
			</dict>
		</dict>
		<dict>
			<key>Summ</key>
			<integer>200</integer>
			<key>Flags</key>
			<dict>
				<key>0</key>
				<true/>
				<key>1</key>
				<true/>
				<key>2</key>
				<true/>
				<key>3</key>
				<true/>
			</dict>
		</dict>
	</array>
	<key>Andrey Oveshnikov</key>
	<array>
		<dict>
			<key>Summ</key>
			<integer>500</integer>
			<key>Flags</key>
			<dict>
				<key>0</key>
				<true/>
				<key>1</key>
				<true/>
				<key>2</key>
				<true/>
				<key>3</key>
				<true/>
			</dict>
		</dict>
		<dict>
			<key>Summ</key>
			<integer>320</integer>
			<key>Flags</key>
			<dict>
				<key>0</key>
				<true/>
				<key>1</key>
				<false/>
				<key>2</key>
				<true/>
				<key>3</key>
				<true/>
			</dict>
		</dict>
		<dict>
			<key>Summ</key>
			<integer>1100</integer>
			<key>Flags</key>
			<dict>
				<key>0</key>
				<true/>
				<key>1</key>
				<true/>
				<key>2</key>
				<true/>
				<key>3</key>
				<true/>
			</dict>
		</dict>
		<dict>
			<key>Summ</key>
			<integer>200</integer>
			<key>Flags</key>
			<dict>
				<key>0</key>
				<true/>
				<key>1</key>
				<true/>
				<key>2</key>
				<true/>
				<key>3</key>
				<true/>
			</dict>
		</dict>
	</array>
	<key>Mikhail Pogosskiy</key>
	<array>
		<dict>
			<key>Summ</key>
			<integer>500</integer>
			<key>Flags</key>
			<dict>
				<key>0</key>
				<true/>
				<key>1</key>
				<true/>
				<key>2</key>
				<true/>
				<key>3</key>
				<true/>
			</dict>
		</dict>
		<dict>
			<key>Summ</key>
			<integer>320</integer>
			<key>Flags</key>
			<dict>
				<key>0</key>
				<true/>
				<key>1</key>
				<false/>
				<key>2</key>
				<true/>
				<key>3</key>
				<true/>
			</dict>
		</dict>
		<dict>
			<key>Summ</key>
			<integer>1100</integer>
			<key>Flags</key>
			<dict>
				<key>0</key>
				<true/>
				<key>1</key>
				<true/>
				<key>2</key>
				<true/>
				<key>3</key>
				<true/>
			</dict>
		</dict>
		<dict>
			<key>Summ</key>
			<integer>200</integer>
			<key>Flags</key>
			<dict>
				<key>0</key>
				<true/>
				<key>1</key>
				<true/>
				<key>2</key>
				<true/>
				<key>3</key>
				<true/>
			</dict>
		</dict>
	</array>
</dict>
</plist>
